@use "../abstracts" as *;

:root {
  @each $color, $shade in $colors {
    @each $prop, $value in $shade {
      $colorValueName: #{colorName($color, $prop)}-value;
      #{$colorValueName}: #{$value};
      #{colorName($color, $prop)}: unquote("hsl(#{var($colorValueName)})");
    }
  }
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
